* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: sans-serif;
}


header {
  padding: 30px 40px ;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  padding: 10px;
  border-radius: 10px;
}

nav ul li a {
  color: white;
}


#home {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  padding: 30px 40px ;
  justify-content: space-between;
}

.data-rahasia {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

}

footer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* ! Urutkan dari ukuran yang terbesar terlebih dahulu */
@media screen and (max-width:1024px) {

};


@media screen and (max-width: 768px) {

};