/* ? Font Family Rubik */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  list-style-type: none;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

main {
  max-width: 700px;
  width: 80%;
  margin: 0 auto;
}

#input-section {
  padding: 20px;
  border: 1 solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#form-input-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  background-color: red;
}

#search-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#bookshelf-read-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#bookshelf-unread-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}